/*======================
    basic setup
  =====================*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 8rem 0rem;
}

.provide {
  text-align: center;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.underline {
  height: .3rem;
  width: 6.8rem;
  background-color: #0e7866;
  margin: 1.5rem auto;
}

p {
  font-size: 1.8rem;
  color: #e0f7f3;
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

/*======================
  nav section
  =====================*/
.navbar {
  padding: 4rem 0;
  background: rgb(135, 80, 156);
  border-bottom: 0.1rem solid #fff;
  box-shadow: 0.1rem 0.2rem .6rem black;
}
nav.fixed-top {

    padding: 1rem;

}
.navbar li {
  padding: 0rem;
  margin-right: 2rem;
  font-size: 2.1rem;
}

.link {
  border-radius: .3rem;
  display: block;
  padding: 0rem 1.2rem;
}

.navbar li :hover {
  background: #643a79;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

/*======================
    header section
   =====================*/
.header {
  background: linear-gradient(rgb(135, 80, 156, 0.9), rgb(135, 80, 156, 0.9)), url("../../img/pic3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
}

.header .width {
  width: 80%;
  text-align: center;
  margin: auto;
  font-weight: 600;
}
.header .middle {
  top: 30%;
  transform: translate(-50, -50);
  position: relative;
}

h1 {
font-size: 4rem;
font-weight: 600;
  color: #fff;
}

.hero-btn {
  margin-top: 4rem;
  background: #eb7d4b;
  border-bottom: 1px solid #c86a40;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.5rem 4.3rem;
  border-bottom: 2px solid #CA6F1E;
}

.hero-btn:hover {
  background: #CA6F1E;
  border: 0;
  color: #fff;
  text-decoration: none;
  transition: 1.5s;
}

/*======================
   service section
  =====================*/
.service {
  background: linear-gradient(rgb(23, 194, 164, 0.9), rgb(23, 194, 164, 0.9)), url("../../img/pic4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.service .br {

  padding-top: .6rem;

}
/*======================
     team section
    =====================*/
.team {
  background: linear-gradient(rgb(231, 241, 248, 0.9), rgb(231, 241, 248, 0.9)), url("../../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.team h2 {
  color: #3c4761;
}

.team .underline {
  background-color: #a4b6c3;
}

.team p {
  color: #3c4761;
}
.team .br{
  margin-bottom: 5.6rem;
}
.team img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 3rem 0;
}

.team h3 {
  color: #27283d;
  padding-bottom: 0.5rem;

}

.team small {
  color: #48c1e9;
  font-size: 1.6rem;

}

/*social icon start*/
.social-icon {
  margin-top: 3rem;
  margin-right: .6rem;
}

.social-icon ul li {
  display: inline-block;
  margin-right: 1rem;
}

.social-icon ul li a {
  color: #fff;
}

.social-icon ul li a i {
  background: #bdd1df;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
}

.social-icon ul li a i:hover {
  background: #395366;
  transition: 1.5s
}

/*social icon end*/
/*======================
     skill section
    =====================*/
.skill {
  background: linear-gradient(rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.7)), url("../../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.skill .width {
  width: 70%;
  margin: auto;
}

.skill h2 {
  color: #3c4761;
}

.skill .underline {
  background: #dfe8ed;
}

.skill p {
  color: #3c4761;
}

.skill h3 {
  color: #3c4761;
}

/*svg.radial-progress start*/
svg.radial-progress text {
  fill: #a4a9b5;
  font-size: 1.6rem;
}

svg.radial-progress {
  max-width: 151px;
}

svg.radial-progress circle {
  stroke: #30bae7;
  stroke-width: 6;
}

svg.html circle {
  stroke: #d74680;
}

svg.graphic circle {
  stroke: #0c4a3f;
}

svg.ui circle {
  stroke: #eb7d4b;
}

/*svg.radial-progress end*/
/*======================
    portfolio  section
    =====================*/
.portfolio {
  background: linear-gradient(rgb(255, 221, 153, 0.9), rgb(255, 221, 153, 0.7)), url("../../img/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio .width {
  width: 70%;
  margin: auto;
}

.portfolio h2 {
  color: #393939;
}

.portfolio .underline {
  background: #be933c;
}

.button {
  text-align: center;
  padding: 8rem 0rem 5rem 0rem;
}

.btn {
  text-transform: uppercase;
  background: #e1c897;
  font-size: 1.6rem;
  padding: 0rem 1rem;
  margin: 0rem .5rem;
  color: #393939;
}

.btn:hover {
  box-shadow: inset .1rem .1rem 1rem #a58952;
  transition: 1.5s;
}

.portfolio .mixitup-control-active {
  background: #fff;
  border: 0;
}

.portfolio h4 {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.portfolio .hero-btn {
  margin-top: 3rem;
  ;
  background: #17c2a4;
  color: #fff;
  font-size: 1.6rem;
  border: 0;
  border-bottom: 2px solid #2a8474;
}

.portfolio .hero-btn:hover {
  background: #2a8474;
  color: #fff;
  transition: 1.5s;
}

/*======================
    portfolio  section
    =====================*/
.client {
  background: linear-gradient(rgb(215, 70, 128, 0.9), rgb(215, 70, 128, 0.9)), url("../../img/pic3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.client .underline {
  background: #b73c6d;
}

.client img {
  width: 8rem;
  height: 8rem;
  margin: 0rem 0;
  border-radius: 50%;
}

.client .h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.client h4 {
  color: #efa18f;
  font-size: 1.5rem;
}

/*======================
    contuct  section
    =====================*/
.contuct {
  background: linear-gradient(rgb(60, 84, 153, 0.9), rgb(60, 84, 153, 0.9)), url("../../img/pic3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.contuct .underline {
  background: #273a71;
}

.contuct .width {
  width: 70%;
  margin: auto;
}

.form {
  padding: 6rem 0;
}

.form-control {
  padding: 1.375rem 1.75rem;
  background: #273a71;
  border: 0;
  font-size: 1.8rem;
}

.form-control:focus {
  background-color:#ffffff;
  opacity: 0.7;
  border-color:#80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.contuct .hero-btn {
  margin-top: 3rem;
  background: #17c2a4;
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  border-bottom: 2px solid #2a8474;
}

.contuct .hero-btn:hover {
  background: #2a8474;
  color: #fff;
  cursor: pointer;
  transition: 1.5s;
}

/*======================
    footer  section
    =====================*/
.footer {
  background: #344b8e;
  border-top: .1rem solid #7784a7;
}

.footer ul li {
  display: inline-block;
  margin-right: 3.5rem;
}

.footer ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #30bae7;
  transition: .5s;
}
